.upper-container {
  height: 100px;
  background: linear-gradient(to left, #696969, #d3d3d3);
}
.score {
  background: linear-gradient(to left, #696969, #d3d3d3);
}
.bloc {
  height: 1000px;
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px;
}
.image-container {
  border-radius: 50%;
  transform: translate(95px, 60px);
}
